@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.boutonCalc {
  margin-left: 10px;
  background-color: gray;
  padding: 12px;
  padding-block: 5px;
  border-radius: 5rem;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.boutonSet {
    margin-left: 10px;
  background-color: #be7d04;
  padding: 12px;
  padding-block: 5px;
  border-radius: 5rem;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.firstcol {
  justify-content: center;
  align-items: center;
  margin-top: 5px;

}